---
import Layout from '../layouts/Layout.astro';
import { data } from '../data/data';
import Card from '../components/Card.astro';
---

<Layout title='Amina Design | @AmenaiSabuwala'>
	<main>
		<h1>
			<span>Medicines, Cars, Dining, Electronics</span>
			<span>Your All-in-One Solution!</span>
		</h1>

		<div class='gridContainer'>
			{data.map((card) => <Card data={card} />)}
		</div>
	</main>
</Layout>

<style>
	main {
		min-height: calc(100vh - (var(--navHeight) + 1rem));
		min-height: calc(100dvh - (var(--navHeight) + 1rem));
		width: min(100% - 2rem, 65rem);
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	h1 {
		text-align: center;
		font-size: clamp(1.2rem, 2.3vw + 1rem, 3rem);
		padding-bottom: 3rem;
		font-weight: 800;
		color: var(--accent);
		span {
			line-height: 1.5;
			display: block;
		}
	}
	.gridContainer {
		width: min(100% - 2rem, 65rem);
		margin-inline: auto;
		display: grid;
		place-items: center;
		gap: 2rem;
		@media (width > 600px) {
			gap: 1.4rem 3.3rem;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			> *:nth-child(odd) {
				justify-self: end;
			}
			> *:nth-child(even) {
				justify-self: start;
			}
		}
	}
</style>
