<header>
	<a class='logo' href='/'>
		<h2>Logo</h2>
	</a>
	<nav>
		<a href='/'>Home</a>
		<a href='/'>About</a>
		<a href='/'>Contact</a>
	</nav>
	<button>Login</button>
</header>

<style>
	header {
		margin-top: 1rem;
		min-height: var(--navHeight);
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: min(100% - 2rem, 65rem);
		margin-inline: auto;
	}
	.logo {
		h2 {
			font-weight: 500;
			font-size: 1.1rem;
		}
	}
	nav {
		display: flex;
		gap: 2rem;
		font-weight: 400;
		font-size: 1.1rem;
	}
	button {
		unset: all;
		padding: 0.7rem 2.1rem;
		border-radius: 10rem;
		background-color: var(--bg);
		border: 1px solid var(--fg);
		color: var(--fg);
		font-weight: 500;
		font-size: 1.1rem;
	}
</style>
